@import url(./__title/analytics-data__title.css);
@import url(./__news/analytics-data__news.css);
@import url(./__mentions/analytics-data__mentions.css);
@import url(./__mark/analytics-data__mark.css);
@import url(./__news-item/analytics-data__news-item.css);

.analytics-data {
  background-color: #FFF;
  max-height: 270px;
  padding-top: 32px;
  padding-left: 104px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .analytics-data {
    padding-left: 40px;
    padding-bottom: 40px;
  }

  .analytics-data__title {
    font-size: 32px;
    line-height: 34px;
    margin-top: 64px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .analytics-data {
    padding: 16px 16px 24px 16px;
  }

  .analytics-data__mark {
   display: none;
  }

  .analytics-data__title {
    font-size: 30px;
    line-height: 34px;
    margin-top: 0;
  }

  .analytics-data__news {
    margin-top: 16px;
  }
}

