@import url(./_is-invisible/news__button_is-invisible.css);

.news__button {
  margin: 48px auto 0 auto;
  width: 288px;
  height: 64px;

  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  color: #1A1B22;

  background-color: #FFF;
  border-radius: 80px;
  border: 0;

  cursor: url(../../../images/lapka.png), pointer;
}

.news__button:hover {
  opacity: 0.9;
}
