.news__item-content {
  padding: 20px 24px 24px 24px;
  /*min-height: 45%;*/
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*position: relative;*/
  border-radius: 0 0 10px 10px;
}
