.news__item {
  display: flex;
  flex-direction: column;
  width: calc(97% / 3);
  max-width: 400px;
  margin-right: 16px;
  min-height: 576px;
  background-color: #FFF;
  border-radius: 10px;
  position: relative;
}

.news__item:last-of-type {
  margin-right: 0;
}
