@import url(./_type/commits__button_type_left.css);
@import url(./_type/commits__button_type_right.css);

.commits__button {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  z-index: 10;
  position: absolute;
  top: 35%;
}
