@import url(./__title/analytics-graph__title.css);
@import url(./__subtitle/analytics-graph__subtitle.css);
@import url(./__subtitle-date/analytics-graph__subtitle-date.css);
@import url(./__subtitle-count/analytics-graph__subtitle-count.css);
@import url(./__day/analytics-graph__day.css);
@import url(./__bar/analytics-graph__bar.css);
@import url(./__bar-item_num/analytics-graph__bar-item_num.css);
@import url(./__bar-item_line/analytics-graph__bar-item_line.css);
@import url(./__bar-item/analytics-graph__bar-item.css);
@import url(./__scale/analytics-graph__scale.css);
@import url(./__scale-num/analytics-graph__scale-num.css);

.analytics-graph {
  padding: 80px 104px 80px 104px;
  max-height: 1440px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .analytics-graph {
    padding: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .analytics-graph {
    padding: 24px 16px 38px 16px;
  }

  .analytics-graph__title {
    font-size: 22px;
  }

  .analytics-graph__subtitle {
    margin-top: 16px;
    padding-bottom: 8px;
  }

  .analytics-graph__scale {
    display: none;
  }

  .analytics-graph__bar {
    padding-top: 18px;
    grid-template-columns: 88px auto;
  }

  .analytics-graph__bar {
    grid-row-gap: 24px;
  }

  .analytics-graph__subtitle-date {
    margin-right: 16px;
  }
}

