@import url(./__title/technology__title.css);
@import url(./__item_title/technology__item_title.css);
@import url(./__item_pic/technology__item_pic.css);
@import url(./__item/technology__item.css);
@import url(./__container/technology__container.css);

.technology {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 104px;
  padding-bottom: 102px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .technology {
   padding: 40px 71px 51px 40px;
   flex-direction: column;
  }

  .technology__title {
    font-size: 30px;
    line-height: 34px;
  }

  .technology__container {
    margin-right: 0;
    margin-top: 40px;
    max-width: 674px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .technology {
   padding: 32px 16px 48px 16px;
   flex-direction: column;
  }

  .technology__title {
    font-size: 30px;
    line-height: 40px;
    padding-right: 0;
  }

  .technology__container {
    margin-right: 0;
    margin-top: 39px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  .technology__item {
    margin-right: 0;
  }

}
