@import url(./__content/header__content.css);
@import url(./__link/header__link.css);
@import url(./__link_underline/header__link_underline.css);
@import url(./__logo/header__logo.css);
@import url(./__nav/header__nav.css);
@import url(./__nav-item/header__nav-item.css);
@import url(./_type/header_type_light.css);
@import url(./_type/header_type_dark.css);
@import url(./__nav-list/header__nav-list.css);

.header {
  max-height: 80px;
  width: 100%;
  padding-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__link_underline {
    margin-top: 18px;
  }

  .header__content {
    margin-left: 40px;
    margin-right: 42px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    max-height: 56px;
    padding-top: 16px;
  }

  .header__logo {
    font-size: 16px;
  }

  .header__link_underline {
    margin-top: 16px;
  }

  .header__link {
    font-size: 16px;
  }

  .header__content {
    margin-left: 16px;
    margin-right: 14px;
  }

  .header__nav-item {
    margin-right: 11px;
  }
}
